html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: "Comfortaa", cursive;
  /* font-family: 'Yeseva One', cursive; */
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  /* background-color: #00bfff; */
  /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); */
  background: linear-gradient(180deg, #abd9f1 0%, #b4f365 100%);
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.header {
  margin: 10px;
}

.header__progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
  /* margin-bottom: 5px; */
}

.header__progress-block {
  background-color: #209c0f;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 70px;
  min-height: 70px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #0044ff;
}

.header__progress-main {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.header__progress-percent {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.header__progress-text {
  font-size: 20px;
  font-weight: 700;
}

.header__back {
  font-size: 30px;
  width: 50px;
  height: 50px;
  background-color: #0044ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.header__img {
  transform: rotate(180deg);
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  gap: 30px;
  padding: 20px;
}

.nav__words {
  font-size: 20px;
  padding: 10px;
  border: 2px solid #0044ff;
  border-radius: 5px;
}

.nav__achievements {
  font-size: 20px;
  padding: 10px;
  border: 2px solid #0044ff;
  border-radius: 5px;
  background-color: #ac2626;
}

.main {
  margin: 10px;
}

.block {
  background-color: #fff;
  border-radius: 20px;
}

.block__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.block__number {
  background-color: #fab433;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}

.block__number span {
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
}

.block__text {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  max-width: 900px;
}

.block__button {
  font-size: 20px;
  color: #fff;
  background-color: #339afa;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  margin-left: 10px;
}

.lessons__title {
  text-align: center;
}

.lesson__box {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.lesson__complete1,
.lesson__complete2,
.lesson__complete3,
.lesson__complete4,
.lesson__complete5,
.lesson__complete6,
.lesson__complete7,
.lesson__complete8,
.lesson__complete9,
.lesson__complete10,
.lesson__complete11,
.lesson__complete12,
.lesson__complete13,
.lesson__complete14,
.lesson__complete15 {
  background-color: #fab433;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  min-height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.lesson__box-middle {
  max-width: 900px;
}

.lesson__text {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.lesson__description {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.lesson__button {
  background-color: #339afa;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  margin-left: 20px;
}

.lesson-learn {
  width: 100%;
  height: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
}

.lesson-learn__line {
  width: 220px;
  height: 10px;
  border-radius: 5px;
  background-color: #0f189c;
  margin-bottom: 20px;
}

.lesson-learn__line-progress {
  width: 20px;
  height: 10px;
  border: 2px solid #000000;
  border-radius: 4px;
  background-color: #209c0f;
}

.lesson-learn__line40px {
  width: 40px;
}
.lesson-learn__line50px {
  width: 50px;
}
.lesson-learn__line60px {
  width: 60px;
}
.lesson-learn__line80px {
  width: 80px;
}
.lesson-learn__line90px {
  width: 90px;
}
.lesson-learn__line100px {
  width: 100px;
}
.lesson-learn__line120px {
  width: 120px;
}
.lesson-learn__line140px {
  width: 140px;
}
.lesson-learn__line150px {
  width: 160px;
}
.lesson-learn__line160px {
  width: 160px;
}
.lesson-learn__line180px {
  width: 180px;
}
.lesson-learn__line190px {
  width: 190px;
}
.lesson-learn__line200px {
  width: 200px;
}
.lesson-learn__line220px {
  width: 220px;
}

.lesson-learn__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lesson-learn__text,
.lesson-learn__text2,
.lesson-learn__text3,
.lesson-learn__text4,
.lesson-learn__text5 {
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.lesson-learn__text-ask {
  font-size: 18px;
  text-align: center;
  margin-bottom: 30px;
}

.lesson-learn__box-choice,
.lesson-learn__box-choice2,
.lesson-learn__box-choice3 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.lesson-learn__box-answer,
.lesson-learn__box-answer2,
.lesson-learn__box-answer3,
.lesson-learn__box-answer4,
.lesson-learn__box-answer5,
.lesson-learn__box-answer6,
.lesson-learn__box-answer7,
.lesson-learn__box-answer8,
.lesson-learn__box-answer9,
.lesson-learn__box-answer10,
.lesson-learn__box-answer11,
.lesson-learn__box-answer12,
.lesson-learn__box-answer13,
.lesson-learn__box-answer14,
.lesson-learn__box-answer15 {
  margin-top: 50px;
  width: 300px;
  min-height: 100px;
  font-size: 18px;
  border-radius: 20px;
  padding: 5px 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: none;
}

.lesson-learn__box-answer__correct {
  background-color: #3fbd69;
  display: flex;
}

.lesson-learn__box-answer__incorrect {
  background-color: #ee6565;
  display: flex;
}

.lesson-learn__choice-item,
.lesson-learn__choice-item2,
.lesson-learn__choice-item3,
.lesson-learn__choice-item4,
.lesson-learn__choice-item5,
.lesson-learn__choice-item6,
.lesson-learn__choice-item7,
.lesson-learn__choice-item8,
.lesson-learn__choice-item9,
.lesson-learn__choice-item10 {
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 8px;
  cursor: pointer;
}

.lesson-learn__choice-item:hover,
.lesson-learn__choice-item2:hover,
.lesson-learn__choice-item3:hover,
.lesson-learn__choice-item4:hover,
.lesson-learn__choice-item5:hover,
.lesson-learn__choice-item6:hover,
.lesson-learn__choice-item7:hover,
.lesson-learn__choice-item8:hover,
.lesson-learn__choice-item9:hover,
.lesson-learn__choice-item10:hover {
  background-color: #2254f7;
}

.lesson-learn__choice-item--active,
.lesson-learn__choice-item--active2,
.lesson-learn__choice-item--active3,
.lesson-learn__choice-item--active4,
.lesson-learn__choice-item--active5,
.lesson-learn__choice-item--active6,
.lesson-learn__choice-item--active7,
.lesson-learn__choice-item--active8,
.lesson-learn__choice-item--active9,
.lesson-learn__choice-item--active10 {
  background-color: #2254f7;
}

.lesson-learn__check,
.lesson-learn__check2,
.lesson-learn__check3,
.lesson-learn__check4,
.lesson-learn__check5,
.lesson-learn__check6,
.lesson-learn__check7,
.lesson-learn__check8,
.lesson-learn__check9,
.lesson-learn__check10,
.lesson-learn__check11,
.lesson-learn__check12,
.lesson-learn__check13,
.lesson-learn__check14,
.lesson-learn__check15 {
  width: 300px;
  background-color: #0555e9;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 16px 0;
  color: #fff;
}

.lesson-learn__check:hover,
.lesson-learn__check2:hover,
.lesson-learn__check3:hover,
.lesson-learn__check4:hover,
.lesson-learn__check5:hover,
.lesson-learn__check6:hover,
.lesson-learn__check7:hover,
.lesson-learn__check8:hover,
.lesson-learn__check9:hover,
.lesson-learn__check10:hover,
.lesson-learn__check11:hover,
.lesson-learn__check12:hover,
.lesson-learn__check13:hover,
.lesson-learn__check14:hover,
.lesson-learn__check15:hover {
  background-color: #2c72f5;
}

.lesson-learn__next,
.lesson-learn__next2,
.lesson-learn__next3,
.lesson-learn__next4,
.lesson-learn__next5,
.lesson-learn__next6,
.lesson-learn__next7,
.lesson-learn__next8,
.lesson-learn__next9,
.lesson-learn__next10,
.lesson-learn__next11,
.lesson-learn__next12,
.lesson-learn__next13,
.lesson-learn__next14,
.lesson-learn__next15 {
  width: 300px;
  background-color: #0555e9;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 16px 0;
  color: #fff;
  display: none;
}

.lesson-learn__next-back {
  width: 300px;
  background-color: #0555e9;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 16px 0;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  font-style: normal;
  text-align: center;
}

[class^="lesson-learn__next"]:hover,
[class^="lesson-learn__next-back"]:hover {
  background-color: #2671fc;
}

.lesson02,
.lesson03,
.lesson04,
.lesson05,
.lesson06,
.lesson07,
.lesson08,
.lesson09,
.lesson10,
.lesson11,
.lesson12,
.lesson13,
.lesson14,
.lesson15 {
  display: none;
}

.lesson-learn__grid,
.lesson-learn__grid2,
.lesson-learn__grid3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.lesson-learn__grid-unvisible,
.lesson-learn__grid-unvisible2,
.lesson-learn__grid-unvisible3 {
  display: none;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  gap: 20px;
}

.lesson-learn__grid-item {
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  margin-bottom: 8px;
}

.lesson-learn__grid-item-past,
.lesson-learn__grid-item-past2,
.lesson-learn__grid-item-past3,
.lesson-learn__grid-item-past4,
.lesson-learn__grid-item-past5,
.lesson-learn__grid-item-past6,
.lesson-learn__grid-item-past7,
.lesson-learn__grid-item-past8,
.lesson-learn__grid-item-past9,
.lesson-learn__grid-item-past10,
.lesson-learn__grid-item-past11,
.lesson-learn__grid-item-past12,
.lesson-learn__grid-item-past13,
.lesson-learn__grid-item-past14,
.lesson-learn__grid-item-past15 {
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  margin-bottom: 8px;
}

.lesson-learn__box-strings,
.lesson-learn__box-strings2,
.lesson-learn__box-strings3 {
  display: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 auto 30px;
  max-width: 600px;
}

.lesson-learn__box-str,
.lesson-learn__box-str2,
.lesson-learn__box-str3,
.lesson-learn__box-str4,
.lesson-learn__box-str5,
.lesson-learn__box-str6,
.lesson-learn__box-str7,
.lesson-learn__box-str8,
.lesson-learn__box-str9,
.lesson-learn__box-str10,
.lesson-learn__box-str11,
.lesson-learn__box-str12,
.lesson-learn__box-str13,
.lesson-learn__box-str14,
.lesson-learn__box-str15,
.lesson-learn__box-str16,
.lesson-learn__box-str17,
.lesson-learn__box-str18,
.lesson-learn__box-str19,
.lesson-learn__box-str20,
.lesson-learn__box-str21,
.lesson-learn__box-str22,
.lesson-learn__box-str23,
.lesson-learn__box-str24,
.lesson-learn__box-str25,
.lesson-learn__box-str26,
.lesson-learn__box-str27,
.lesson-learn__box-str28,
.lesson-learn__box-str29,
.lesson-learn__box-str30,
.lesson-learn__box-str31,
.lesson-learn__box-str32,
.lesson-learn__box-str33,
.lesson-learn__box-str34,
.lesson-learn__box-str35,
.lesson-learn__box-str36,
.lesson-learn__box-str37,
.lesson-learn__box-str38,
.lesson-learn__box-str39,
.lesson-learn__box-str40,
.lesson-learn__box-str41,
.lesson-learn__box-str42,
.lesson-learn__box-str43,
.lesson-learn__box-str44,
.lesson-learn__box-str45,
.lesson-learn__box-str46,
.lesson-learn__box-str47,
.lesson-learn__box-str48,
.lesson-learn__box-str49,
.lesson-learn__box-str50,
.lesson-learn__box-str51,
.lesson-learn__box-str52,
.lesson-learn__box-str53,
.lesson-learn__box-str54,
.lesson-learn__box-str55,
.lesson-learn__box-str56,
.lesson-learn__box-str57,
.lesson-learn__box-str58,
.lesson-learn__box-str59,
.lesson-learn__box-str60,
.lesson-learn__box-str61,
.lesson-learn__box-str62,
.lesson-learn__box-str63,
.lesson-learn__box-str64,
.lesson-learn__box-str65,
.lesson-learn__box-str66,
.lesson-learn__box-str67,
.lesson-learn__box-str68,
.lesson-learn__box-str69,
.lesson-learn__box-str70,
.lesson-learn__box-str71,
.lesson-learn__box-str72,
.lesson-learn__box-str73,
.lesson-learn__box-str74,
.lesson-learn__box-str75,
.lesson-learn__box-str76,
.lesson-learn__box-str77,
.lesson-learn__box-str78,
.lesson-learn__box-str79,
.lesson-learn__box-str80,
.lesson-learn__box-str81,
.lesson-learn__box-str82,
.lesson-learn__box-str83,
.lesson-learn__box-str84,
.lesson-learn__box-str85,
.lesson-learn__box-str86,
.lesson-learn__box-str87 {
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
  width: auto;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-bottom: 8px;
  cursor: pointer;
}

.lesson-learn__box-str:hover,
.lesson-learn__box-str2:hover,
.lesson-learn__box-str3:hover,
.lesson-learn__box-str4:hover,
.lesson-learn__box-str5:hover,
.lesson-learn__box-str6:hover,
.lesson-learn__box-str7:hover,
.lesson-learn__box-str8:hover,
.lesson-learn__box-str9:hover,
.lesson-learn__box-str10:hover,
.lesson-learn__box-str11:hover,
.lesson-learn__box-str12:hover,
.lesson-learn__box-str13:hover,
.lesson-learn__box-str14:hover,
.lesson-learn__box-str15:hover,
.lesson-learn__box-str16:hover,
.lesson-learn__box-str17:hover,
.lesson-learn__box-str18:hover,
.lesson-learn__box-str19:hover,
.lesson-learn__box-str20:hover,
.lesson-learn__box-str21:hover,
.lesson-learn__box-str22:hover,
.lesson-learn__box-str23:hover,
.lesson-learn__box-str24:hover,
.lesson-learn__box-str25:hover,
.lesson-learn__box-str26:hover,
.lesson-learn__box-str27:hover,
.lesson-learn__box-str28:hover,
.lesson-learn__box-str29:hover,
.lesson-learn__box-str30:hover,
.lesson-learn__box-str31:hover,
.lesson-learn__box-str32:hover,
.lesson-learn__box-str33:hover,
.lesson-learn__box-str34:hover,
.lesson-learn__box-str35:hover,
.lesson-learn__box-str36:hover,
.lesson-learn__box-str37:hover,
.lesson-learn__box-str38:hover,
.lesson-learn__box-str39:hover,
.lesson-learn__box-str40:hover,
.lesson-learn__box-str41:hover,
.lesson-learn__box-str42:hover,
.lesson-learn__box-str43:hover,
.lesson-learn__box-str44:hover,
.lesson-learn__box-str45:hover,
.lesson-learn__box-str46:hover,
.lesson-learn__box-str47:hover,
.lesson-learn__box-str48:hover,
.lesson-learn__box-str49:hover,
.lesson-learn__box-str50:hover,
.lesson-learn__box-str51:hover,
.lesson-learn__box-str52:hover,
.lesson-learn__box-str53:hover,
.lesson-learn__box-str54:hover,
.lesson-learn__box-str55:hover,
.lesson-learn__box-str56:hover,
.lesson-learn__box-str57:hover,
.lesson-learn__box-str58:hover,
.lesson-learn__box-str59:hover,
.lesson-learn__box-str60:hover,
.lesson-learn__box-str61:hover,
.lesson-learn__box-str62:hover,
.lesson-learn__box-str63:hover,
.lesson-learn__box-str64:hover,
.lesson-learn__box-str65:hover,
.lesson-learn__box-str66:hover,
.lesson-learn__box-str67:hover,
.lesson-learn__box-str68:hover,
.lesson-learn__box-str69:hover,
.lesson-learn__box-str70:hover,
.lesson-learn__box-str71:hover,
.lesson-learn__box-str72:hover,
.lesson-learn__box-str73:hover,
.lesson-learn__box-str74:hover,
.lesson-learn__box-str75:hover,
.lesson-learn__box-str76:hover,
.lesson-learn__box-str77:hover,
.lesson-learn__box-str78:hover,
.lesson-learn__box-str79:hover,
.lesson-learn__box-str80:hover,
.lesson-learn__box-str81:hover,
.lesson-learn__box-str82:hover,
.lesson-learn__box-str83:hover,
.lesson-learn__box-str84:hover,
.lesson-learn__box-str85:hover,
.lesson-learn__box-str86:hover,
.lesson-learn__box-str87:hover {
  background-color: #2671fc;
}

.lesson-learn__mix,
.lesson-learn__mix2,
.lesson-learn__mix3 {
  width: 300px;
  background-color: #0555e9;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 16px 0;
  color: #fff;
}

.lesson-learn__mix:hover,
.lesson-learn__mix2:hover,
.lesson-learn__mix3:hover {
  background-color: #2c72f5;
}

.lesson-learn__check-str,
.lesson-learn__check-str2,
.lesson-learn__check-str3 {
  display: none;
  width: 300px;
  background-color: #0555e9;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 16px 0;
  color: #fff;
}

.lesson-learn__box-explain {
  width: 500px;
  font-size: 16px;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 15px 25px 15px;
  margin-bottom: 20px;
}

.lesson-learn__str-explain {
  font-size: 18px;
  border-radius: 10px;
  width: auto;
  margin-bottom: 20px;
}

.lesson-learn__str-explain-span {
  display: inline-block;
  font-size: 18px;
  border-radius: 10px;
  width: auto;
  padding: 5px 10px;
  margin: 5px;
}

.lesson-learn__phrase {
  width: auto;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  font-size: 18px;
  padding: 20px;
  margin-bottom: 50px;
}

.lesson-learn__block-strings,
.lesson-learn__block-strings2,
.lesson-learn__block-strings3,
.lesson-learn__block-strings4,
.lesson-learn__block-strings5,
.lesson-learn__block-strings6,
.lesson-learn__block-strings7,
.lesson-learn__block-strings8,
.lesson-learn__block-strings9,
.lesson-learn__block-strings10,
.lesson-learn__block-strings11,
.lesson-learn__block-strings12,
.lesson-learn__block-strings13,
.lesson-learn__block-strings14,
.lesson-learn__block-strings15 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
  gap: 20px;
  margin: 0 auto 15px;
  max-width: 600px;
}

.lesson-learn__block-strings-answer1,
.lesson-learn__block-strings-answer2,
.lesson-learn__block-strings-answer3,
.lesson-learn__block-strings-answer4,
.lesson-learn__block-strings-answer5,
.lesson-learn__block-strings-answer6,
.lesson-learn__block-strings-answer7,
.lesson-learn__block-strings-answer8,
.lesson-learn__block-strings-answer9,
.lesson-learn__block-strings-answer10,
.lesson-learn__block-strings-answer11,
.lesson-learn__block-strings-answer12,
.lesson-learn__block-strings-answer13,
.lesson-learn__block-strings-answer14,
.lesson-learn__block-strings-answer15 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  font-size: 18px;
  gap: 10px;
  margin: 0 auto 15px;
  max-width: 600px;
}

.lesson-learn__block-str,
.lesson-learn__block-str2,
.lesson-learn__block-str3,
.lesson-learn__block-str4,
.lesson-learn__block-str5,
.lesson-learn__block-str6,
.lesson-learn__block-str7,
.lesson-learn__block-str8,
.lesson-learn__block-str9,
.lesson-learn__block-str10,
.lesson-learn__block-str11,
.lesson-learn__block-str12,
.lesson-learn__block-str13,
.lesson-learn__block-str14,
.lesson-learn__block-str15,
.lesson-learn__block-str16,
.lesson-learn__block-str17,
.lesson-learn__block-str18,
.lesson-learn__block-str19,
.lesson-learn__block-str20,
.lesson-learn__block-str21,
.lesson-learn__block-str22,
.lesson-learn__block-str23,
.lesson-learn__block-str24,
.lesson-learn__block-str25,
.lesson-learn__block-str26,
.lesson-learn__block-str27,
.lesson-learn__block-str28,
.lesson-learn__block-str29,
.lesson-learn__block-str30,
.lesson-learn__block-str31,
.lesson-learn__block-str32,
.lesson-learn__block-str33,
.lesson-learn__block-str34,
.lesson-learn__block-str35,
.lesson-learn__block-str36,
.lesson-learn__block-str37,
.lesson-learn__block-str38,
.lesson-learn__block-str39,
.lesson-learn__block-str40,
.lesson-learn__block-str41,
.lesson-learn__block-str42,
.lesson-learn__block-str43,
.lesson-learn__block-str44,
.lesson-learn__block-str45,
.lesson-learn__block-str46,
.lesson-learn__block-str47,
.lesson-learn__block-str48,
.lesson-learn__block-str49,
.lesson-learn__block-str50,
.lesson-learn__block-str51,
.lesson-learn__block-str52,
.lesson-learn__block-str53,
.lesson-learn__block-str54,
.lesson-learn__block-str55,
.lesson-learn__block-str56,
.lesson-learn__block-str57,
.lesson-learn__block-str58,
.lesson-learn__block-str59,
.lesson-learn__block-str60,
.lesson-learn__block-str61,
.lesson-learn__block-str62,
.lesson-learn__block-str63,
.lesson-learn__block-str64,
.lesson-learn__block-str65,
.lesson-learn__block-str66,
.lesson-learn__block-str67,
.lesson-learn__block-str68,
.lesson-learn__block-str69,
.lesson-learn__block-str70,
.lesson-learn__block-str71,
.lesson-learn__block-str72,
.lesson-learn__block-str73,
.lesson-learn__block-str74,
.lesson-learn__block-str75,
.lesson-learn__block-str76,
.lesson-learn__block-str77,
.lesson-learn__block-str78,
.lesson-learn__block-str79,
.lesson-learn__block-str80,
.lesson-learn__block-str81,
.lesson-learn__block-str82,
.lesson-learn__block-str83,
.lesson-learn__block-str84,
.lesson-learn__block-str85,
.lesson-learn__block-str86,
.lesson-learn__block-str87,
.lesson-learn__block-str88,
.lesson-learn__block-str89,
.lesson-learn__block-str90,
.lesson-learn__block-str91,
.lesson-learn__block-str92,
.lesson-learn__block-str93,
.lesson-learn__block-str94,
.lesson-learn__block-str95,
.lesson-learn__block-str96,
.lesson-learn__block-str97,
.lesson-learn__block-str98,
.lesson-learn__block-str99,
.lesson-learn__block-str100,
.lesson-learn__block-str101,
.lesson-learn__block-str102,
.lesson-learn__block-str103,
.lesson-learn__block-str104,
.lesson-learn__block-str105,
.lesson-learn__block-str106,
.lesson-learn__block-str107,
.lesson-learn__block-str108,
.lesson-learn__block-str109,
.lesson-learn__block-str110,
.lesson-learn__block-str111,
.lesson-learn__block-str112,
.lesson-learn__block-str113,
.lesson-learn__block-str114,
.lesson-learn__block-str115,
.lesson-learn__block-str116,
.lesson-learn__block-str117,
.lesson-learn__block-str118,
.lesson-learn__block-str119,
.lesson-learn__block-str120,
.lesson-learn__block-str121,
.lesson-learn__block-str122,
.lesson-learn__block-str123,
.lesson-learn__block-str124,
.lesson-learn__block-str125,
.lesson-learn__block-str126,
.lesson-learn__block-str127,
.lesson-learn__block-str128,
.lesson-learn__block-str129,
.lesson-learn__block-str130,
.lesson-learn__block-str131,
.lesson-learn__block-str132,
.lesson-learn__block-str133,
.lesson-learn__block-str134,
.lesson-learn__block-str135 {
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
  width: auto;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  margin-bottom: 8px;
  cursor: pointer;
}

.lesson-learn__block-str:hover,
.lesson-learn__block-str2:hover,
.lesson-learn__block-str3:hover,
.lesson-learn__block-str4:hover,
.lesson-learn__block-str5:hover,
.lesson-learn__block-str6:hover,
.lesson-learn__block-str7:hover,
.lesson-learn__block-str8:hover,
.lesson-learn__block-str9:hover,
.lesson-learn__block-str10:hover,
.lesson-learn__block-str11:hover,
.lesson-learn__block-str12:hover,
.lesson-learn__block-str13:hover,
.lesson-learn__block-str14:hover,
.lesson-learn__block-str15:hover,
.lesson-learn__block-str16:hover,
.lesson-learn__block-str17:hover,
.lesson-learn__block-str18:hover,
.lesson-learn__block-str19:hover,
.lesson-learn__block-str20:hover,
.lesson-learn__block-str21:hover,
.lesson-learn__block-str22:hover,
.lesson-learn__block-str23:hover,
.lesson-learn__block-str24:hover,
.lesson-learn__block-str25:hover,
.lesson-learn__block-str26:hover,
.lesson-learn__block-str27:hover,
.lesson-learn__block-str28:hover,
.lesson-learn__block-str29:hover,
.lesson-learn__block-str30:hover,
.lesson-learn__block-str31:hover,
.lesson-learn__block-str32:hover,
.lesson-learn__block-str33:hover,
.lesson-learn__block-str34:hover,
.lesson-learn__block-str35:hover,
.lesson-learn__block-str36:hover,
.lesson-learn__block-str37:hover,
.lesson-learn__block-str38:hover,
.lesson-learn__block-str39:hover,
.lesson-learn__block-str40:hover,
.lesson-learn__block-str41:hover,
.lesson-learn__block-str42:hover,
.lesson-learn__block-str43:hover,
.lesson-learn__block-str44:hover,
.lesson-learn__block-str45:hover,
.lesson-learn__block-str46:hover,
.lesson-learn__block-str47:hover,
.lesson-learn__block-str48:hover,
.lesson-learn__block-str49:hover,
.lesson-learn__block-str50:hover,
.lesson-learn__block-str51:hover,
.lesson-learn__block-str52:hover,
.lesson-learn__block-str53:hover,
.lesson-learn__block-str54:hover,
.lesson-learn__block-str55:hover,
.lesson-learn__block-str56:hover,
.lesson-learn__block-str57:hover,
.lesson-learn__block-str58:hover,
.lesson-learn__block-str59:hover,
.lesson-learn__block-str60:hover,
.lesson-learn__block-str61:hover,
.lesson-learn__block-str62:hover,
.lesson-learn__block-str63:hover,
.lesson-learn__block-str64:hover,
.lesson-learn__block-str65:hover,
.lesson-learn__block-str66:hover,
.lesson-learn__block-str67:hover,
.lesson-learn__block-str68:hover,
.lesson-learn__block-str69:hover,
.lesson-learn__block-str71:hover,
.lesson-learn__block-str72:hover,
.lesson-learn__block-str73:hover,
.lesson-learn__block-str74:hover,
.lesson-learn__block-str75:hover,
.lesson-learn__block-str76:hover,
.lesson-learn__block-str77:hover,
.lesson-learn__block-str78:hover,
.lesson-learn__block-str79:hover,
.lesson-learn__block-str80:hover,
.lesson-learn__block-str81:hover,
.lesson-learn__block-str82:hover,
.lesson-learn__block-str83:hover,
.lesson-learn__block-str84:hover,
.lesson-learn__block-str85:hover,
.lesson-learn__block-str86:hover,
.lesson-learn__block-str87:hover,
.lesson-learn__block-str88:hover,
.lesson-learn__block-str89:hover,
.lesson-learn__block-str90:hover,
.lesson-learn__block-str91:hover,
.lesson-learn__block-str92:hover,
.lesson-learn__block-str93:hover,
.lesson-learn__block-str94:hover,
.lesson-learn__block-str95:hover,
.lesson-learn__block-str96:hover,
.lesson-learn__block-str97:hover,
.lesson-learn__block-str98:hover,
.lesson-learn__block-str99:hover,
.lesson-learn__block-str100:hover,
.lesson-learn__block-str101:hover,
.lesson-learn__block-str102:hover,
.lesson-learn__block-str103:hover,
.lesson-learn__block-str104:hover,
.lesson-learn__block-str105:hover,
.lesson-learn__block-str106:hover,
.lesson-learn__block-str107:hover,
.lesson-learn__block-str108:hover,
.lesson-learn__block-str109:hover,
.lesson-learn__block-str110:hover,
.lesson-learn__block-str111:hover,
.lesson-learn__block-str112:hover,
.lesson-learn__block-str113:hover,
.lesson-learn__block-str114:hover,
.lesson-learn__block-str115:hover,
.lesson-learn__block-str116:hover,
.lesson-learn__block-str117:hover,
.lesson-learn__block-str118:hover,
.lesson-learn__block-str119:hover,
.lesson-learn__block-str120:hover,
.lesson-learn__block-str121:hover,
.lesson-learn__block-str122:hover,
.lesson-learn__block-str123:hover,
.lesson-learn__block-str124:hover,
.lesson-learn__block-str125:hover,
.lesson-learn__block-str126:hover,
.lesson-learn__block-str127:hover,
.lesson-learn__block-str128:hover,
.lesson-learn__block-str129:hover,
.lesson-learn__block-str130:hover,
.lesson-learn__block-str131:hover,
.lesson-learn__block-str132:hover,
.lesson-learn__block-str133:hover,
.lesson-learn__block-str134:hover,
.lesson-learn__block-str135:hover {
  opacity: 0.8;
}

.lesson-learn__audio-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  margin-bottom: 70px;
}

.lesson-learn__audio,
.lesson-learn__audio2,
.lesson-learn__audio3,
.lesson-learn__audio4,
.lesson-learn__audio5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: #0044ff;
  cursor: pointer;
}

.lesson-learn__phrase-span,
.lesson-learn__phrase-span2,
.lesson-learn__phrase-span3,
.lesson-learn__phrase-span4,
.lesson-learn__phrase-span5,
.lesson-learn__phrase-span6,
.lesson-learn__phrase-span7,
.lesson-learn__phrase-span8,
.lesson-learn__phrase-span9,
.lesson-learn__phrase-span10 {
  text-decoration: underline;
  font-weight: 500;
}

.str__answer {
  background-color: #f8faa5;
}

.lesson-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.lesson-top__words {
  display: flex;
  justify-content: center;
  background-color: #fff;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 370px;
}

.lesson-top__words:hover {
  background-color: #82d9fc;
}

.lesson-top__words span {
  color: #0d9101;
  margin-left: 10px;
}

.lesson-learn__sort {
  background-color: #fff;
  max-width: 400px;
  border-radius: 10px;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}

.lesson-learn__sort span {
  color: #0603bd;
  font-size: 21px;
}

.lesson-learn__word {
  background-color: #fff;
  width: 400px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 60px;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: 10px;
}

.lesson-learn__word-none {
  background-color: #fff;
  max-width: 800px;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 60px;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-bottom: 10px;
}

.lesson-learn__audio-btn {
  position: absolute;
  right: 10px;
  background-color: #fff;
  border: none;
}

.lesson-learn__tab {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lesson-learn__count-words {
  position: absolute;
  transform: translate(-50%);
  top: 50%;
  left: 50%;
  text-align: center;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #da6057;
  font-size: 22px;
  padding: 40px 20px;
  border-radius: 10px;
}

.lesson-learn__color1 {
  background-color: #ee840a;
}
.lesson-learn__color2 {
  background-color: #e9ec0a;
}
.lesson-learn__color3 {
  background-color: #0aec1d;
}
.lesson-learn__color4 {
  background-color: #1163fc;
}
.lesson-learn__color5 {
  background-color: #b469fa;
}
.lesson-learn__color6 {
  background-color: #69fabe;
}
.lesson-learn__color7 {
  background-color: #2e703f;
}

.width320 {
  width: 320px;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 700px) {
  .lesson-learn__block-strings,
  .lesson-learn__block-strings2,
  .lesson-learn__block-strings3,
  .lesson-learn__block-strings4,
  .lesson-learn__block-strings5,
  .lesson-learn__block-strings6,
  .lesson-learn__block-strings7,
  .lesson-learn__block-strings8,
  .lesson-learn__block-strings9,
  .lesson-learn__block-strings10,
  .lesson-learn__block-strings11,
  .lesson-learn__block-strings12,
  .lesson-learn__block-strings13,
  .lesson-learn__block-strings14,
  .lesson-learn__block-strings15 {
    max-width: 400px;
  }

  .lesson-learn__block-strings-answer1,
  .lesson-learn__block-strings-answer2,
  .lesson-learn__block-strings-answer3,
  .lesson-learn__block-strings-answer4,
  .lesson-learn__block-strings-answer5,
  .lesson-learn__block-strings-answer6,
  .lesson-learn__block-strings-answer7,
  .lesson-learn__block-strings-answer8,
  .lesson-learn__block-strings-answer9,
  .lesson-learn__block-strings-answer10,
  .lesson-learn__block-strings-answer11,
  .lesson-learn__block-strings-answer12,
  .lesson-learn__block-strings-answer13,
  .lesson-learn__block-strings-answer14,
  .lesson-learn__block-strings-answer15 {
    max-width: 400px;
  }
}

@media (max-width: 600px) {
  .block__text {
    font-size: 14px;
  }
  .block__container {
    padding: 10px;
  }
  .lesson__text {
    font-size: 18px;
  }
  .lesson__description {
    font-size: 15px;
  }
}
@media (max-width: 520px) {
  .lesson-learn__box-explain {
    width: 380px;
  }
  .lesson-learn__block-strings,
  .lesson-learn__block-strings2,
  .lesson-learn__block-strings3,
  .lesson-learn__block-strings4,
  .lesson-learn__block-strings5,
  .lesson-learn__block-strings6,
  .lesson-learn__block-strings7,
  .lesson-learn__block-strings8,
  .lesson-learn__block-strings9,
  .lesson-learn__block-strings10,
  .lesson-learn__block-strings11,
  .lesson-learn__block-strings12,
  .lesson-learn__block-strings13,
  .lesson-learn__block-strings14,
  .lesson-learn__block-strings15 {
    max-width: 360px;
    gap: 10px;
  }

  .lesson-learn__block-strings-answer1,
  .lesson-learn__block-strings-answer2,
  .lesson-learn__block-strings-answer3,
  .lesson-learn__block-strings-answer4,
  .lesson-learn__block-strings-answer5,
  .lesson-learn__block-strings-answer6,
  .lesson-learn__block-strings-answer7,
  .lesson-learn__block-strings-answer8,
  .lesson-learn__block-strings-answer9,
  .lesson-learn__block-strings-answer10,
  .lesson-learn__block-strings-answer11,
  .lesson-learn__block-strings-answer12,
  .lesson-learn__block-strings-answer13,
  .lesson-learn__block-strings-answer14,
  .lesson-learn__block-strings-answer15 {
    max-width: 360px;
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .block__text {
    font-size: 12px;
  }
  .header__progress-text {
    font-size: 18px;
  }
  .lesson__box {
    padding: 10px;
  }
  .lesson__description {
    font-size: 14px;
  }
  .main {
    margin: 10px 0;
  }
  .lesson-learn__grid-item {
    font-size: 16px;
    width: 180px;
  }
  .lesson-learn__grid-item-past,
  .lesson-learn__grid-item-past2,
  .lesson-learn__grid-item-past3,
  .lesson-learn__grid-item-past4,
  .lesson-learn__grid-item-past5,
  .lesson-learn__grid-item-past6,
  .lesson-learn__grid-item-past7,
  .lesson-learn__grid-item-past8,
  .lesson-learn__grid-item-past9,
  .lesson-learn__grid-item-past10,
  .lesson-learn__grid-item-past11,
  .lesson-learn__grid-item-past12,
  .lesson-learn__grid-item-past13,
  .lesson-learn__grid-item-past14,
  .lesson-learn__grid-item-past15 {
    font-size: 16px;
    width: 180px;
  }

  .nav {
    flex-direction: column;
    gap: 15px;
  }

  .nav__words {
    font-size: 18px;
  }

  .nav__achievements {
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  .lesson-learn__word {
    width: 330px;
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .lesson-learn__text,
  .lesson-learn__text2,
  .lesson-learn__text3,
  .lesson-learn__text4,
  .lesson-learn__text5 {
    font-size: 20px;
  }
  .lesson-learn__grid,
  .lesson-learn__grid2,
  .lesson-learn__grid3,
  .lesson-learn__grid-unvisible,
  .lesson-learn__grid-unvisible2,
  .lesson-learn__grid-unvisible3 {
    gap: 10px;
  }
  .lesson-learn__grid-item {
    font-size: 14px;
    width: 150px;
  }
  .lesson-learn__box-explain {
    width: 340px;
    padding: 10px 10px 20px 10px;
  }
  .lesson-learn__str-explain {
    font-size: 16px;
  }
  .lesson-learn__grid-item-past,
  .lesson-learn__grid-item-past2,
  .lesson-learn__grid-item-past3,
  .lesson-learn__grid-item-past4,
  .lesson-learn__grid-item-past5,
  .lesson-learn__grid-item-past6,
  .lesson-learn__grid-item-past7,
  .lesson-learn__grid-item-past8,
  .lesson-learn__grid-item-past9,
  .lesson-learn__grid-item-past10,
  .lesson-learn__grid-item-past11,
  .lesson-learn__grid-item-past12,
  .lesson-learn__grid-item-past13,
  .lesson-learn__grid-item-past14,
  .lesson-learn__grid-item-past15 {
    font-size: 14px;
    width: 150px;
  }
  .lesson-learn__check,
  .lesson-learn__check2,
  .lesson-learn__check3,
  .lesson-learn__check4,
  .lesson-learn__check5,
  .lesson-learn__check6,
  .lesson-learn__check7,
  .lesson-learn__check8,
  .lesson-learn__check9,
  .lesson-learn__check10,
  .lesson-learn__check11,
  .lesson-learn__check12,
  .lesson-learn__check13,
  .lesson-learn__check14,
  .lesson-learn__check15 {
    width: 240px;
  }
  .lesson-learn__next,
  .lesson-learn__next2,
  .lesson-learn__next3,
  .lesson-learn__next4,
  .lesson-learn__next5,
  .lesson-learn__next6,
  .lesson-learn__next7,
  .lesson-learn__next8,
  .lesson-learn__next9,
  .lesson-learn__next10,
  .lesson-learn__next11,
  .lesson-learn__next12,
  .lesson-learn__next13,
  .lesson-learn__next14,
  .lesson-learn__next15 {
    width: 240px;
  }
  .lesson-learn__box-answer,
  .lesson-learn__box-answer2,
  .lesson-learn__box-answer3,
  .lesson-learn__box-answer4,
  .lesson-learn__box-answer5,
  .lesson-learn__box-answer6,
  .lesson-learn__box-answer7,
  .lesson-learn__box-answer8,
  .lesson-learn__box-answer9,
  .lesson-learn__box-answer10,
  .lesson-learn__box-answer11,
  .lesson-learn__box-answer12,
  .lesson-learn__box-answer13,
  .lesson-learn__box-answer14,
  .lesson-learn__box-answer15 {
    width: 240px;
  }
  .lesson-learn__block-strings,
  .lesson-learn__block-strings2,
  .lesson-learn__block-strings3,
  .lesson-learn__block-strings4,
  .lesson-learn__block-strings5,
  .lesson-learn__block-strings6,
  .lesson-learn__block-strings7,
  .lesson-learn__block-strings8,
  .lesson-learn__block-strings9,
  .lesson-learn__block-strings10,
  .lesson-learn__block-strings11,
  .lesson-learn__block-strings12,
  .lesson-learn__block-strings13,
  .lesson-learn__block-strings14,
  .lesson-learn__block-strings15 {
    max-width: 320px;
  }

  .lesson-learn__block-strings-answer1,
  .lesson-learn__block-strings-answer2,
  .lesson-learn__block-strings-answer3,
  .lesson-learn__block-strings-answer4,
  .lesson-learn__block-strings-answer5,
  .lesson-learn__block-strings-answer6,
  .lesson-learn__block-strings-answer7,
  .lesson-learn__block-strings-answer8,
  .lesson-learn__block-strings-answer9,
  .lesson-learn__block-strings-answer10,
  .lesson-learn__block-strings-answer11,
  .lesson-learn__block-strings-answer12,
  .lesson-learn__block-strings-answer13,
  .lesson-learn__block-strings-answer14,
  .lesson-learn__block-strings-answer15 {
    max-width: 320px;
  }

  .width320 {
    width: 280px;
  }

  .lesson-learn__word {
    width: 300px;
    font-size: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .lesson-learn__word span {
    margin-bottom: 10px;
  }
  .lesson-learn__word p {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
@media (max-width: 360px) {
  .container {
    padding: 0px;
  }
  .header__progress-text {
    font-size: 16px;
  }
  .header__progress {
    padding: 20px 10px;
  }
  .lesson__description {
    font-size: 12px;
  }
  .lesson__text {
    font-size: 16px;
  }
  .lesson-learn__box-explain {
    width: 300px;
  }
  .lesson-learn__block-strings,
  .lesson-learn__block-strings2,
  .lesson-learn__block-strings3,
  .lesson-learn__block-strings4,
  .lesson-learn__block-strings5,
  .lesson-learn__block-strings6,
  .lesson-learn__block-strings7,
  .lesson-learn__block-strings8,
  .lesson-learn__block-strings9,
  .lesson-learn__block-strings10,
  .lesson-learn__block-strings11,
  .lesson-learn__block-strings12,
  .lesson-learn__block-strings13,
  .lesson-learn__block-strings14,
  .lesson-learn__block-strings15 {
    max-width: 300px;
  }
  .lesson-learn__block-strings-answer1,
  .lesson-learn__block-strings-answer2,
  .lesson-learn__block-strings-answer3,
  .lesson-learn__block-strings-answer4,
  .lesson-learn__block-strings-answer5,
  .lesson-learn__block-strings-answer6,
  .lesson-learn__block-strings-answer7,
  .lesson-learn__block-strings-answer8,
  .lesson-learn__block-strings-answer9,
  .lesson-learn__block-strings-answer10,
  .lesson-learn__block-strings-answer11,
  .lesson-learn__block-strings-answer12,
  .lesson-learn__block-strings-answer13,
  .lesson-learn__block-strings-answer14,
  .lesson-learn__block-strings-answer15 {
    max-width: 300px;
  }
}
