html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #000;
  font-family: "Comfortaa", cursive;
  /* font-family: 'Yeseva One', cursive; */
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  background-color: #00bfff;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
}

.header {
  margin: 10px;
}

.header__progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 20px;
}

.header__progress-block {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 15px; */
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
  border: 2px solid #080808;
}

.header__progress-percent {
  font-size: 20px;
  font-weight: 700;
  color: #d8d8d8;
}

.header__progress-text {
  font-size: 20px;
  font-weight: 700;
}

.main {
  margin: 10px;
}

.block {
  background-color: #fff;
  border-radius: 20px;
}

.block__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 30px;
}

.block__number {
  background-color: #339afa;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 50%;
}

.block__number span {
  font-size: 20px;
  font-weight: 700;
  color: #d8d8d8;
}

.block__text {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  max-width: 900px;
}

.block__button {
  background-color: #339afa;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
}

.lessons__title {
  text-align: center;
}

.lesson__box {
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin-bottom: 30px;
  cursor: pointer;
}

.lesson__complete {
  background-color: #fab433;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 50%;
}

.lesson__box-middle {
  max-width: 900px;
}

.lesson__text {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.lesson__description {
  font-size: 17px;
  font-weight: 500;
  text-align: center;
}

.lesson__button {
  background-color: #339afa;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
}

.lesson-learn {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #00bfff;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
}

.lesson-learn__line {
  width: 400px;
  height: 10px;
  border-radius: 5px;
  background-color: #0a0a0a;
  margin-bottom: 20px;
  position: relative;
}

.lesson-learn__line-progress {
  width: 40px;
  height: 10px;
  border: 2px solid #32b3e6;
  border-radius: 5px;
  background-color: #1a67f7;
  position: absolute;
  left: 0;
}

.lesson-learn__box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lesson-learn__text {
  font-size: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.lesson-learn__text-ask {
  font-size: 18px;
  margin-bottom: 30px;
}

.lesson-learn__box-choice {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}

.lesson-learn__box-answer {
  position: absolute;
  bottom: -34px;
  left: -51px;
  width: 300px;
  height: 100px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: none;
}

.lesson-learn__box-answer__correct {
  background-color: #3fbd69;
}

.lesson-learn__box-answer__incorrect {
  background-color: #ee6565;
}

.lesson-learn__choice-item {
  font-size: 18px;
  background-color: #fff;
  border-radius: 10px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 8px;
  cursor: pointer;
}

.lesson-learn__choice-item--active {
  background-color: #2254f7;
}

.lesson-learn__check {
  width: 300px;
  background-color: #0555e9;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  padding: 16px 0;
  color: #fff;
}
